<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="page-wrapper">
        <div><h1 class="title">Dino API</h1></div>
        <div><p class="info">This is a Dino API.</p></div>
        <a class="link" href="/api">Link to API</a>
    </div>
</body>
</html>