<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino Scraper</title>
</head>
<body>
    <h1>Dino Scraper</h1>
    <p>Please input a URL of a wiki page to scrape the info for a dinosaur.</p>
    <input id="wikiInput" type="text"><input type="button" value="Get" onclick="getData()">
    <p>This will be returned as a json object.</p>
</body>
<script type="text/javascript">

async function getData() {
    const wikiURL = document.getElementById('wikiInput');
    const url = wikiURL.value;

    fetch('post', 'localhost:8080/api/scrape');
}

</script>
</html>